.Notifications {
  border: 2px dotted #e0354b;
  padding: 20px;
  position: relative;
}

li[data-priority="default"] {
  color: blue;
}
li[data-priority="urgent"] {
  color: red;
}

li[data-notification-type="default"] {
  color: blue;
}
li[data-notification-type="urgent"] {
  color: red;
}
